@import '../../../constatnts';

.menuContainer {
  button {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
      background: transparent;
    }
  }
  ul {
    li {
      padding: 4px 16px;
      font-size: $buttonText;
      color: $textMain;
      &:first-child {
        border-bottom: 2px solid #e6e6e6;
      }
      &:last-child {
        border-top: 2px solid #e6e6e6;
      }
      &:hover {
        color: $whiteColor;
        background: $actionPurple;
      }
      &.followMenuItem {
        height: auto;
        &:hover {
          background: transparent;
        }
      }
      .followList {
        width: 100%;
        font-size: $tableHeadFont;
        color: $textSecondary;
        ul {
          margin: 0;
          padding: 0;
          width: 100%;
          list-style: none;
          display: inline-flex;
          li {
            padding: 5px;
            display: inline-block;
            &:first-child,
            &:last-child {
              border: none;
            }
            &:hover {
              background: transparent;
            }
            a {
              display: block;
            }
          }
        }
      }
    }
  }
}
