/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @import '~@fortawesome/fontawesome-free/css/all.css'; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  margin: 0;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  color: #333;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(to bottom, #9b2463, #312461);
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 14px;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:focus {
  border: none;
  outline: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

input {
  width: 100%;
  border: 0;
  display: block;
  font-weight: normal;
  letter-spacing: 0.05em;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px rgba(145, 78, 128, 0.29), 0 0 0 0.5px #914e80, inset 0 0.5px 1.5px 0 #ccc,
    inset 0 0 0.5px 0 #333;
}

/* Change text in autofill textbox */
input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
button {
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
}

/* Custom icons for checkbox and radiobutton */
.customIcon {
  height: 16px;
  width: 16px;
  background: url('app/components/assets/images/control-icons.svg') no-repeat;
  background-size: 85px 32px;
}
.icon-radio-checked {
  background-position: 0 0;
}
.icon-checkbox-checked {
  background-position: 0 -16px;
}

/* App icons */
.app-icons {
  width: 24px;
  height: 24px;
  min-width: 24px;
  background: url('app/components/assets/images/app-icons.svg') no-repeat;
  background-size: 184px 232px;
}
.residentialIPIcon {
  background-position: -112px -40px;
}
.dataCenterIPIcon {
  background-position: -112px -80px;
}

/* Flag icons sprite - will be done on next stage */

/* temporary visualisation */
.flag-icon {
  width: 24px;
  height: 24px;
  background: lightgray;
}
