@import '../../../../../constatnts';

.connectionTable {
  width: 100%;
  color: $textSecondary;
  border-collapse: collapse;
  th {
    opacity: 0.7;
    padding: 12px 16px;
    text-align: left;
    font-weight: normal;
    font-size: $tableHeadFont;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  }
  td {
    text-align: left;
    padding: 15px 16px;
    color: $textMain;
    font-size: $buttonText;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
  }
}
.ipItem {
  display: flex;
  p {
    margin-left: 8px;
  }
}
